{% extends "admin/change_form.html" %}

     {% block javascripts %}
        {{ block.super }}
          <script type="text/javascript" charset="utf-8">
            (function($) {
                $(document).ready(function() {
                    var form = document.getElementById('{{ opts.model_name }}_form');
                    $("#id_nasc, #id_nom, #id_cogn, #id_luogo, #id_genere").on('blur', function () {

                        $.ajax({
                        url: '{% url 'codice_fiscale' %}',
                        data: {
                            'nome': $("#id_nom").val(),
                            'cognome': $("#id_cogn").val(),
                            'sesso': $("#id_genere").val(),
                            'nasc': $("#id_nasc").val(),
                            'comune': $("#id_luogo").val()
                        },
                        dataType: 'json',
                        success: function (data) {
                          $('#id_cf').val(data.cf)
                        }
                      });
                    });

                });
            })(grp.jQuery);
        </script>
     {% endblock %}


{% block after_field_sets %}
{#    <p style="color: red"><strong> Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here#}
{#        Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here#}
{#    Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here#}
{#        Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here#}
{#    </strong></p>#}
{#    <button>Anteprima stampa visita ambulatorio</button>#}
{##}
{##}
{##}
{# <input type="button" value="Anteprima stampa visita ambulatorio">#}
{#{{ block.super }}#}
{% endblock %}

{#{% block  admin_change_form_document_ready %}#}
{#     {{ block.super }}#}
{#        <script>#}
{#            alert('hello world');#}
{#                // when any input in this form changes, call recalculate price#}
{#                $('#{{ opts.model_name }} + "_form" input').on('change', calculateCF);#}
{##}
{#                var reclaculate_price = function(){#}
{#                  alert('hello world');#}
{#                  // whatever your logic is for calculating the offer price#}
{#                  var value = $('#design_hours').val() * $('#design_price').val();#}
{#                  // Add some error checking here to ensure the price is valid#}
{#                  // Set the value to you field#}
{#                  $('#offer_price').val(value);#}
{#                }#}
{#        </script>#}
{#{% endblock %}#}
