{% extends "admin/change_form.html" %}
{% block after_field_sets %}{{ block.super }}
Add stuffs here Add stuffs here Add stuffs here <br>
    Add stuffs here Add stuffs here Add stuffs here <br>
    Add stuffs here Add stuffs here Add stuffs here <br>
    Add stuffs here Add stuffs here Add stuffs here <br>
    Add stuffs here Add stuffs here Add stuffs here <br>
    <p style="color: red"><strong> Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here
        Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here
    Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here
        Add stuffs here Add stuffs here Add stuffs here  Add stuffs here Add stuffs here Add stuffs here
    </strong></p>


{% endblock %}