Django==1.10.6
django-admin-tools==0.8.0
django-grappelli==2.9.1
html5lib==1.0b10
httplib2==0.10.3
olefile==0.44
Pillow==4.0.0
psycopg2==2.7.1
PyPDF2==1.26.0
reportlab==3.4.0
six==1.10.0
webencodings==0.5
xhtml2pdf==0.2b1
